# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
ENV/
env/

# VSCode
.vscode/

# OS files
.DS_Store

# Environment variables
.env

# Databases (if generated locally)
*.db
*.sqlite3

# Build / Dist files
dist/
build/
